*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#heading{
    
    color: aliceblue;
    height:5rem;
    background-color: rgb(41, 14, 67);
    line-height: 5rem;  /* text centre mai */
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
   /* opacity: 0.5;  /* touch karne pe halka fade */
    cursor: pointer;  /* hand wala cusrsor */
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}
#user-score ,#comp-score{
   font-size: 4rem;

}
.ms-container{
  
    margin-top: 5rem;
}
#msg{
    background-color: black;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 4rem;
}